h1{
    background: linear-gradient(to right, red,blue);
    background-clip:text;
    color: transparent;
}

body:has(option[value='dark']:checked){
    background-color: black;
    color:white;
}

h1:has(option[value="miku"] :checked){
    color : black;
    background-color: skyblue;    
}

h2:has(option[value="milu"] :checked){
    color : skyblue;
    
}


